player-connection-mode=Listen
player-connection-guid=2120230888
player-connection-debug=0
player-connection-project-name=SEAL Watch
player-connection-ip=26.114.248.197
player-connection-ip=192.168.100.141
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2311e8fb2e2a4b46b29afc4d8fbf962f
